.list{
    margin: 10px;
}

.list tr{
    width: 800px;
    border: 1px solid blue;
    margin: 10px;
}

.list th:nth-child(2), .list tr td:nth-child(2){
    width: 600px;
    word-wrap:break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
